@model taskTrackerBoardProject.Models.Board

@{
    ViewBag.Title = "Details";
}

    <div class="row">
        <div class="col-md-4">
            <h2>Board <b>| @Html.DisplayFor(model => model.Name)</b></h2>
        </div>
        <div class="col-md-8 board-links">
            @Html.ActionLink("Add a New Task", "Create", "Tasks", new { boardId = Model.ID }, new { boardId = Model.ID }) &emsp;
            @Html.ActionLink("Edit Board", "Edit", new { id = Model.ID }) &emsp;
            @Html.ActionLink("View All Boards", "Index")
        </div>
    </div>

<div>

        <div class="row">

            <div class="col-md-4 board-cols board-cols-bordered droppable" id="Upcoming">
                <h4><b>Upcoming</b></h4>

                @foreach (var item in Model.Tasks)
                {
                    if (item.CurrentStatus == taskTrackerBoardProject.Models.Status.Upcoming)
                    {

                        <div class="panel panel-default card draggable" id="@item.ID">
                            <div class="panel-heading">
                                <b><h3 class="panel-title">@Html.DisplayFor(model => item.Title)</h3></b>
                            </div>
                            <div class="panel-body">
                                @Html.DisplayFor(model => item.Description)<br /><br />
                                <b>Created:</b> @Html.DisplayFor(model => item.CreatedDate) &emsp;
                                <b>Due:</b> @Html.DisplayFor(model => item.DueDate)<br />
                                <br />

                                @if (!String.IsNullOrEmpty(item.Tag))
                                {
                                    <span class="pull-right label label-default"><b>@Html.DisplayFor(model => item.Tag)</b></span><br />
                                }

                                <b>@Html.ActionLink("Details", "Details", "Tasks", new { id = item.ID }, new { boardId = Model.ID })</b>
                                <span class="pull-right label label-primary"><b class="status-label">@Html.DisplayFor(model => item.CurrentStatus)</b></span>
                            </div>
                        </div>

                    }
                }

            </div>

            <div class="col-md-4 board-cols board-cols-bordered droppable" id="Active">
                <h4><b>Active</b></h4>

                @foreach (var item in Model.Tasks)
                {
                    if (item.CurrentStatus == taskTrackerBoardProject.Models.Status.Active)
                    {

                        <div class="panel panel-default card draggable" id="@item.ID">
                            <div class="panel-heading">
                                <b><h3 class="panel-title">@Html.DisplayFor(model => item.Title)</h3></b>
                            </div>
                            <div class="panel-body">
                                @Html.DisplayFor(model => item.Description)<br /><br />
                                <b>Created:</b> @Html.DisplayFor(model => item.CreatedDate) &emsp;
                                <b>Due:</b> @Html.DisplayFor(model => item.DueDate)<br />
                                <br />

                                @if (!String.IsNullOrEmpty(item.Tag))
                                {
                                    <span class="pull-right label label-default"><b>@Html.DisplayFor(model => item.Tag)</b></span><br />
                                }

                                <b>@Html.ActionLink("Details", "Details", "Tasks", new { id = item.ID }, new { boardId = Model.ID })</b>
                                <span class="pull-right label label-success"><b class="status-label">@Html.DisplayFor(model => item.CurrentStatus)</b></span>
                            </div>
                        </div>

                    }
                }


            </div>

            <div class="col-md-4 board-cols droppable" id="Completed">
                <h4><b>Completed</b></h4>

                @foreach (var item in Model.Tasks)
                {
                    if (item.CurrentStatus == taskTrackerBoardProject.Models.Status.Completed)
                    {

                        <div class="panel panel-default card draggable" id="@item.ID">
                            <div class="panel-heading">
                                <b><h3 class="panel-title">@Html.DisplayFor(model => item.Title)</h3></b>
                            </div>
                            <div class="panel-body">
                                @Html.DisplayFor(model => item.Description)<br /><br />
                                <b>Created:</b> @Html.DisplayFor(model => item.CreatedDate) &emsp;
                                <b>Due:</b> @Html.DisplayFor(model => item.DueDate)<br />
                                <br />

                                @if (!String.IsNullOrEmpty(item.Tag))
                                {
                                    <span class="pull-right label label-default"><b>@Html.DisplayFor(model => item.Tag)</b></span><br />
                                }

                                <b>@Html.ActionLink("Details", "Details", "Tasks", new { id = item.ID }, new { boardId = Model.ID })</b>
                                <span class="pull-right label label-info"><b class="status-label">@Html.DisplayFor(model => item.CurrentStatus)</b></span>
                            </div>
                        </div>

                    }
                }

            </div>

        </div>




</div>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/site")
}
